<% if @characters.any? %>
<ul>
<% @characters.each do |character| %>
<li><%= link_to character.name, character_path(character) %> </li>
<% end %>
</ul>
<% else %>
<p>There are no characters yet!</p>
<% end %>
<li><%= link_to "New Character", new_character_path %> </li>
<%# <p> <%= link_to "Create new survey", new_survey_path %></p> 